<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Cinema Helper</display-name>
    <context-param>
        <description>The interval in seconds setted for the worker
that will parse the particular cinema sites and
will update database infromation about films.</description>
        <param-name>films-parsing-worker-interval</param-name>
        <param-value>3600</param-value>
    </context-param>
    <context-param>
        <description>Database host</description>
        <param-name>dbhost</param-name>
        <param-value>//localhost</param-value>
    </context-param>
    <context-param>
        <description>Database port</description>
        <param-name>dbport</param-name>
        <param-value>1527</param-value>
    </context-param>
    <context-param>
        <description>Database name</description>
        <param-name>dbname</param-name>
        <param-value>cinema-helper</param-value>
    </context-param>
    <context-param>
        <description>Database adapter class name</description>
        <param-name>dbadapter</param-name>
        <param-value>lib.DerbyAdapter</param-value>
    </context-param>
    <listener>
        <description>
          A listener that will start/stop a worker that will parse different sites
          and will insert the retrieved information into the database.
        </description>
        <listener-class>utilities.ApplicationContextListener</listener-class>
    </listener>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <jsp-config>
        <jsp-property-group>
            <description>header and footer settings</description>
            <url-pattern>/WEB-INF/views/*</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
</web-app>
